<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%style{%d{yyyy-MM-dd HH:mm:ss}}{cyan}] [%highlight{%p}] [%style{%L LINE}{bright,blue}] [%style{%c}{bright,yellow}] [%equals{%X{transactionId}}{}{basic-info}] : %style{%msg%n%throwable}{bright,magenta}" disableAnsi = "false"/>
        </Console>

        <RollingFile name="fileLightEpro" fileName="./logs/LightEpro.log" filePattern="./logs/LightEpro.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="[%style{%d{yyyy-MM-dd HH:mm:ss}}{cyan}] [%highlight{%p}] [%style{%L LINE}{bright,blue}] [%style{%c}{bright,yellow}] [%equals{%X{transactionId}}{}{basic-info}] : %style{%msg%n%throwable}{bright,magenta}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </appenders>
    <loggers>
        <logger name="org.springframework" level="INFO" additivity="false">
            <appenderRef ref="console" />
        </logger>

        <Logger name="jdbc.audit" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.resultset" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.resultsettable" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.sqltiming" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="jdbc.connection" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <Logger name="log4jdbc.debug" level="OFF" additivity="false">
            <appender-ref ref="console"/>
        </Logger>
        <!-- Query Loggers 쿼리(파라미터까지) -->
        <logger name="jdbc.sqlonly" level="info" additivity="false">
            <appender-ref ref="console" />
        </logger>
        <root level="INFO">
            <appenderRef ref="console" />
            <appender-ref ref="fileLightEpro" />
        </root>
    </loggers>
</configuration>