<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default_layout">
<div>
    <th:block layout:fragment="content">
        <div className="searchBox">
            <h2 className="searchTitle">Search Page</h2>
            <div className="search">
                <input type="text" placeholder="검색할 키워드를 입력해 주세요." id="searchInput"></input>
                <button className="searchBtn" type="button">검색</button>
            </div>
        </div>
    </th:block>
</div>
</html>