<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-wrapper">
    <form method="post" action="/login_proc" id="login-form">
        <h2>SIGN IN</h2>
        <div id="idDiv">
            <label id="idLabel"><input id="idInputImage" type="image" src="/image/idImage.png"
                                       style="width:22px; height:22px;"></label>
            <input id="idInput" type="text" name="userName" placeholder=" Please enter your user ID">
        </div>

        <div id="pwDiv">
            <label id="pwLabel"><input id="pwInputImage" type="image" src="/image/pwImage.png"
                                       style="width:22px; height:22px;"></label>
            <input id="pwInput" type="password" name="userPassword" placeholder="   Please enter your user PassWord">
        </div>

        <input id="loginInput" type="submit" value="SIGN IN">
    </form>
</div>
</body>
</html>