<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-wrapper">
    <form method="post" action="/login_proc" id="login-form">
        <h2>Login Page</h2>
        <input id="idInput" type="text" name="userName" placeholder="   Please enter your user ID">
        <input id="pwInput" type="password" name="userPassword" placeholder="   Please enter your user PassWord">
        <input id="loginInput" type="submit" value="Login">
    </form>
</div>
</body>
</html>