* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchBox {
    width: 80vw;
    height: 80vh;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 50px;
}

.searchTitle {
    font-size: 30px;
    color: #6A24FE;
    margin-bottom: 20px;
    margin-left: 10px;
}

.search {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0.7, 0.7, 0.7, 0.7);
}

.search input {
    outline: none;
    border: none;
    width: 80vw;
    font-weight: 400;
    font-size: 30px;
    color: black;
    background: transparent;
    padding-right: 0;
}

.searchBtn {
    width: 10%;
    height: 48px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-left: 16px;
    border-radius: 6px;
    color: #fff;
    font-size: 20px;
    background-color: #6A24FE;
    margin-top: 20px;
    cursor: pointer;
}

.searchBtn:active {
    background-color: blue;
}